body{

background:#0f172a;
color:white;
font-family:sans-serif;
margin:0;

}

.app{

max-width:700px;
margin:auto;
padding:20px;
text-align:center;

}

button{

background:#1e293b;
color:white;
border:none;
padding:12px;
margin:10px;
border-radius:8px;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#334155;

}

.hidden{

display:none;

}

#learnGrid{

display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;

}

#learnGrid div{

background:#1e293b;
padding:12px;
border-radius:6px;

}

.kana{

font-size:90px;
margin:30px;

}

.options{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;

}

.opt{

padding:16px;
font-size:18px;

}

.topbar{

display:flex;
justify-content:space-between;

}